[Unit]
Description=Discord Embed Bot
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name discord_embed_bot -v /etc/discord_embed_bot/config.json:/etc/discord_embed_bot/config.json -d discord_embed_bot_config
ExecStop=/usr/bin/docker stop -t 2 discord_embed_bot

[Install]
WantedBy=default.target